html {
    scroll-behavior: smooth;
}

body {
    font-family: 'TikTok Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
    color: #111827;
}   

p, label{
    font-size: 16px;
    line-height: 24px;
    alignment-baseline: middle;
}

.logo{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: lightgray;
    background-image: url('https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    border-bottom: 1px solid #e0e0e0;   
    position: fixed;
    width: 100%;
    background-color: #ffff;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
}

.main-nav{
    display: flex;
    gap: 24px;
}

.main-nav a{
    text-decoration: none;
    color: #111827;
    font-weight: 500;
}

/* Hero Section */
.hero-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
    height: 480px;
    margin-top: 80px;
    background-image: url('https://images.unsplash.com/photo-1635776062043-223faf322554?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

/* Portfolio Section */
.portfolio-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 80px 200px;
    border-bottom: 1px solid #e5e7eb;
}

.portfolio-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.portfolio-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 8px 8px 24px 8px;
    border: 1px solid #f3f4f6;
    border-radius: 8px;
    box-shadow: 0px 1px 4px oklch(27.8% 0.033 256.848 / 0.1);
    transition: all 0.3s ease;
}

.portfolio-item img{
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.portfolio-item:hover{
    box-shadow: 0px 8px 16px oklch(27.8% 0.033 256.848 / 0.2);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}

/* Message Section */
.message-section{
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.message-container{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.input-container{
    flex: 1;
}

.output-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column; 
    gap: 12px;
}

.nama{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.nama label{
    width: 120px;
}

.nama input{
    flex: 1;
}

.tanggal-lahir{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.tanggal-lahir label{
    width: 120px;
}

.tanggal-lahir input{
    flex: 1;
}

.jenis-kelamin{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.jenis-kelamin p{
    width: 120px;
}

.radio-group{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.radio-group input{
    margin: 0 4px 0 0;
}  

.radio-group label{
    margin-right: 8px;
}

.pesan{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.pesan label{
    width: 120px;
}

.pesan textarea{
    flex: 1;
}

input[type="text"], input[type="date"], textarea {
    padding: 12px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="text"]:focus, input[type="date"]:focus, textarea:focus {
    border-color: #059669;
    outline: none;
}

input[type="button"]{
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: #059669;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

input[type="button"]:hover{
    background-color: #34d399;
}

input[type="button"]:active{
    background-color: #064e3b;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    text-align: right;
    background-color: #ecfdf5;
}

.location-list{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.circle{
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
}

.p-secondary{
    color: #6b7280;
}

h1 {
    font-size: 56px;
    line-height: 100%;
}

.hero-section p {
    font-size: 20px;
    line-height: 32px;
}

/* Modal CSS */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
}

.actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#okBtn {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: #059669;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

#cancelBtn {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: #ef4444;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
